.form {
   @include flex;
   border-bottom: 1px solid $white;
   padding: 30px 0;
   column-gap: 30px;
}

.form-left {
   display: flex;
   column-gap: 30px;
   & div {
      // flex: 0 0 29%;
      & > label {
         width: 100%;
         @include flex;
         justify-content: space-between;
      }
   }
}


@media (max-width: 1000px) {
   .form {
      flex-direction: column;
   }
   .form-left {
      flex-direction: column;
   }
}