$primary: rgba(0,0,0,1);
$supportive: rgba(69, 69, 69,1);
$supportiveOne: rgba(136, 136, 136,1);
$supportiveTwo: rgba(187,187,187,1);
$white: rgba(225,225,225,1);

$mask: rgba(0,0,0,0.2);

$active: rgba(171,39,79,1);

$conteinerW: 1200px